.rcl-loginform{}
.rcl-loginform .tab-group{
	display: flex;
	line-height: 1;
}
.rcl-loginform .tab-group .tab{
	display: block;
	padding: 10px 15px;
	color: #333;
}
.rcl-loginform .tab-group .active{
    background: #eee;
}
.rcl-loginform .tab-content{
	display:none;
}
.rcl-loginform .tab-content.active{
	display:block;
}

