#rcl-office {
    background: inherit;
    max-width: 1150px !important;
    margin: auto;
}

.webx-row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -18px;
    margin-left: -18px
}

.webx-col-md-6,
.webx-col-md-9,
.webx-col-md-3 {
    position: relative;
    width: 100%;
    padding-right: 18px;
    padding-left: 18px
}

.webx-row .webx-col-md-3 + .webx-col-md-9 {
    padding-left: 0;
}

#rcl-avatar {
    display: block;
    width: 100%;
    height: 100%;
    max-height: 90vh;
    overflow: hidden;
}

#rcl-office #rcl-avatar img {
    width: 100%;
    height: auto;
}

#rcl-office #rcl-avatar img,
#lk-conteyner,
.webx-userinfo,
#webx-content .webx-area-tabs {
    border: 2px solid #fff;
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);
}

#rcl-avatar .avatar-image {
    display: flex;
}

#webx-header #rcl-avatar .avatar-icons {
    position: absolute;
    bottom: 6px;
    width: 100%;
    text-align: center;
}

#rcl-avatar .avatar-icons .rcl-avatar-icon {
    display: inline-flex;
    margin: 3px;
}

#webx-header #rcl-avatar .avatar-icons .rcl-avatar-icon a {
    background: #fff;
    padding: 10px;
    overflow: hidden;
}

#rcl-office #lk-conteyner {
    display: block;
    width: 100%;
    height: 100%;
    background-size: 100%;
    background-position: center center;
    position: relative;
}

#rcl-office #webx-header .rcl-cover-icon {
    background: #fff;
    margin: 0;
    padding: 10px;
    top: 6px;
    left: 6px;
    display: inline-flex;
}

#rcl-office .webx-userinfo,
#webx-content .webx-area-tabs {
    background: #fff;
    margin-top: 18px;
    padding: 18px;
    font-size: 16px;
}

#webx-content .webx-area-tabs {
    margin-bottom: 5px;
}

#rcl-office .webx-userinfo .userName {
    text-align: center;
}

#rcl-office .webx-userinfo .rcl-balance-widget .amount-title {
    font-weight: inherit;
    display: inline-block;
    margin-right: 10px;
}

#rcl-office .webx-userinfo .rcl-balance-widget .amount-size {
    font-size: inherit;
}

#rcl-office .webx-userinfo .webx-area-counters {
    text-align: right;
}

#rcl-office .webx-userinfo .webx-area-counters a {
    color: #000;
    background: inherit;
    font-size: 16px;
}

#rcl-office .rcl-balance-widget {
    max-width: initial;
}

#rcl-office .rcl-balance-widget .balance-amount {
    text-align: left;
}

#webx-content .webx-area-menu {
    margin-top: 6px;
}

#rcl-office #lk-menu a.recall-button .rcli {
    margin-right: 5px;
}

#webx-content .rcl-notice {
    border-radius: 1rem;
}


#webx-content .rcl-field-input input,
.rcl-field-input select {
    height: 40px;
    border-radius: 1rem;
    padding: 0 18px;
    padding-right: 30px;
}

#webx-content .rcl-public-box .rcl-form-field {
    background-color: inherit;
    border: 0;
    padding: 0;
}

#webx-content .rcl-field-input textarea {
    border-radius: 0.5rem;
    border: 1px solid #ddd;
}

#webx-content .webx-area-menu a {
    padding: 12px;
    margin: 12px 0 0;
    float: none;
    font-size: 16px;
    transition: none;
    white-space: break-spaces;
    display: flex;
}

#webx-content #tab-groups h3 {
    padding: 5px 0 0;
}


body #rcl-office .webx_phone_menu {
    text-align: center;
    display: none;
}


#rcl-office .rcl-subtab-menu {
    background: inherit;
    padding: 0;
    margin: 0;
}


#rcl-office #create-group {
    margin-top: 5px;
    background: inherit;
    padding: 0;
    text-align: left;
}

#create-group input[type="text"] {
    min-height: 40px;
    border-radius: 0.5rem;
}

#rcl-office #create-group a {
    background: #000;
    border-radius: 0.5rem;
    height: 40px;
}

#rcl-office .rcl-table__zebra .rcl-table__row:nth-child(2n+1):not(.rcl-table__row-header) {
    background: inherit;
}

#rcl-office .rcl-chat-contacts .noread-message,
#rcl-office .rcl-chat-contacts .avatar-contact img,
#rcl-office .rcl-chat-contacts .master-avatar img,
#rcl-office .rcl-chat .chat-users-box,
#rcl-office .rcl-chat .user-avatar img,
#rcl-office .rcl-chat .message-box,
#rcl-office .rcl-chat .chat-messages,
.rcl-chat .chat-form textarea,
#rcl-office .rcl-chat .chat-form textarea,
.rcl-noread-users,
.rcl-chat-panel,
#prime-forum .prime-forum-item {
    border-radius: 0.5rem;
}

#rcl-office .balance-amount a {
    padding: 6px;
    margin-top: -9px;
}

#rcl-chat-noread-box .chat-contacts .more-contacts a {
    color: #fff;
}

@media (min-width: 711px) {
    .webx-col-md-3 {
        flex: 0 0 25%;
        max-width: 25%
    }

    .webx-col-md-6 {
        flex: 0 0 50%;
        max-width: 50%
    }

    .webx-col-md-9 {
        flex: 0 0 75%;
        max-width: 75%
    }
}

@media (max-width: 710px) {
    .webx-col-md-6,
    .webx-col-md-9,
    .webx-col-md-3 {
        padding: 0;
    }

    body #rcl-office .webx_phone_menu {
        display: block;
    }

    body #rcl-office .webx_phone_block {
        display: none;
    }

    #rcl-office #lk-conteyner {
        display: none;
    }

    #rcl-office .rcl-balance-widget .balance-amount {
        text-align: center;
    }

    #rcl-office .webx-userinfo .webx-area-counters {
        text-align: center;
        display: block;
    }

    #rcl-office .webx-userinfo, #webx-content .webx-area-tabs {
        padding: 0;
    }

    .webx-row {
        margin-right: 0;
        margin-left: 0;
    }
}

@media screen and (min-width: 711px) {
    .webx_phone_block {
        display: block !important;
    }
}
